	<div class="rest">
		<div  class="row">
								<p><span class="side-info">Lorem Ipsum is simply</span> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker incuding versions of Lorem Ipsum.</p>
			<div class="col">
			</div>
			<div class="col-md-9 col-sm-12">
				<div class="row">

    	<!-- flex-container -->
			        <div class="col-sm-12 flex-container">
			        	<!-- flex-item -->
			            <div class="flex-item bg-violet">
			            	<div class="flex-item-inner">
			                	<!-- card -->
			                    <a href="https://in.yahoo.com/">
			                        <div class="tile-primary-content">
			                            <i class="fa fa-pie-chart fa-3x tile-icon icon-white"></i>
			                           	<span class="ionicons  
			                           ion-social-yahoo-outline"></span>
			                            <h1>www.yahoo.com</h1>
			                            <p class="detail">provides various funcitonalities like sending mail and reading daily news.</p>
			                            <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
			                        </div>
			                        <div class="tile-secondary-content">
			                            <p class="title">Lorem ipsum dolor sit</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>

			                        </div>
			                    </a>
			                    <!-- /card -->
			                </div>
			            </div>
			            <!-- /flex-item -->
			            
			            <!-- flex-item -->
			            <div class="flex-item bg-magenta">
			            	<div class="flex-item-inner">
			                	<!-- card -->
			                    <a href="http://googlenews.com">
			                        <div class="tile-primary-content">
			                            <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
			                            <h1>Google News</h1>
			                            
			                            <p class="detail">Provides great amount of news for reader in various language.</p>
			                            <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
			                        </div>
			                        <div class="tile-secondary-content">
			                            <p class="title">Lorem ipsum dolor sit</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                        </div>
			                    </a>
			                    <!-- /card -->
			                </div>
			            </div>
			            <!-- /flex-item -->
			            
			           
			            <!-- /flex-item -->
			            
			            <!-- flex-item -->
			            <div class="flex-item bg-green">
			            	<div class="flex-item-inner">
			                    <a href="#">
			                        <div class="tile-primary-content">
			                            <i class="fa fa-bar-chart fa-3x tile-icon icon-white"></i>
			                            <h4>Savings Plan Total Balance</h4>
			                            <p class="detail">$XXX,XXX</p>
			                            <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
			                        </div>
			                        <div class="tile-secondary-content">
			                            <p class="title">Lorem ipsum dolor sit</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                        </div>
			                    </a>
			                </div>
			            </div>
			            <!-- /flex-item -->
			        </div>
        <!-- /flex-container -->
    			</div>
    							<div class="row">

    	<!-- flex-container -->
			        <div class="col-sm-12 flex-container">
			        	<!-- flex-item -->
			            <div class="flex-item bg-violet">
			            	<div class="flex-item-inner">
			                	<!-- card -->
			                    <a href="#">
			                        <div class="tile-primary-content">
			                            <i class="fa fa-pie-chart fa-3x tile-icon icon-white"></i>
			                            <h4>Flexible Spending Account</h4>
			                            <p class="detail">$XXX,XXX</p>
			                            <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
			                        </div>
			                        <div class="tile-secondary-content">
			                            <p class="title">Lorem ipsum dolor sit</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>

			                        </div>
			                    </a>
			                    <!-- /card -->
			                </div>
			            </div>
			            <!-- /flex-item -->
			            
			            <!-- flex-item -->
			            <div class="flex-item bg-magenta">
			            	<div class="flex-item-inner">
			                	<!-- card -->
			                    <a href="#">
			                        <div class="tile-primary-content">
			                            <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
			                            <h4>HSA Total Balance</h4>
			                            <p class="detail">$XXX,XXX</p>
			                            <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
			                        </div>
			                        <div class="tile-secondary-content">
			                            <p class="title">Lorem ipsum dolor sit</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                            <p class="desc">Pellentesque magna nunc, fermentum nec ipsum non, consequat scelerisque dui.</p>
			                        </div>
			                    </a>
			                    <!-- /card -->
			                </div>
			            </div>
			            <!-- /flex-item -->
			            
			           
			            <!-- /flex-item -->
			            
			            <!-- flex-item -->
			            <div class="flex-item bg-green">
			            	<div class="flex-item-inner">
			                    <a href="#">
			                        <div class="tile-primary-content">
			                            <i class="fa fa-bar-chart fa-3x tile-icon icon-white"></i>
			                            <h4>Savings Plan Total Balance</h4>
			                            <p class="detail">$XXX,XXX</p>
			                            <p class="link">Details&nbsp;<i class="fa fa-chevron-circle-right"></i></p>
			                        </div>
			                        <div class="tile-secondary-content">
			                            <p class="title">Curabitur elementum augue</p>
			                            <p class="desc">Nullam porttitor dui quis commodo mattis. Fusce posuere, nisl id.</p>
			                        </div>
			                    </a>
			                </div>
			            </div>
			            <!-- /flex-item -->
			        </div>
        <!-- /flex-container -->
    			</div>	
			</div>
			<div class="col">
			</div>

		</div>
	</div>
				
