{% extends 'home/base.html' %}1

{% block content %}
	<div class="main-section">
		<div class="row">
			<div class="jumbotron jumbotron-fluid jumbo">
			  <div class="container  heading">
			    <h1 class="display-4 truth">Truthify</h1>
			    <p class="lead below-truth">Truthifying    One  News At a Time </p>
			  </div>
			</div>
		</div>
			
		<div class="search">
			<div class="row">
<!-- 				<div class="col-md-6  col-sm-12 overlay">
					
					<div class="main-form">
						<form class="search-form" role="search" action="/Search/" method="GET">
							<input type="text" class="search-bar" placeholder="Search on the basis of Healine" name="sname">
							<input type="submit" name="Submit" class="bttt">

						</form>

					
					</div>
					<div class="info">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker incuding versions of Lorem Ipsum.</p>
					</div>

				</div>

				<div class="col-sm-12  col-md-6 overlay">
					<div class="main-form">
						<form class="search-form" role="search" action="/Search2/" method="GET">
							<input type="text" class="search-bar" placeholder="Search on the basis of url" name="sname">
							<input type="submit" name="submit" class="bttt">

						</form>

					
					</div>
					
					<div class="info">
						<p>Lorem serach-formIpsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker incuding versions of Lorem Ipsum.</p>
					</div>

				</div>
 -->			
 				<div class="col">
 				</div>
 				<div class="col-md-8 col-sm-12 main-form">
 					<form class="search-form" action="/Search/" method="GET" role="search">
 					<div class="main-input">
 						
 						<input type="text" class="search-input" placeholder="Enter url" name="sname">
 						<input type="submit" class="button" placeholder="submit" value="Truthify">
 					</div>


 					</form>

 				</div>
 				<div class="col">
 				</div>

			</div>


		</div>
	</div>









{% endblock %}